# -----------------------------
# Simulation outputs / artifacts
# -----------------------------
/runs/
/results/
/data/sqlite/

/src/evac_sim/envs/generated_layouts/

*.db
*.sqlite
*.sqlite3

*.png
*.jpg
*.jpeg
*.gif
*.svg

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Python environments
.venv/
venv/
env/

# Python packaging
build/
dist/
*.egg-info/

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# IDEs / editors
# -----------------------------
.vscode/
.idea/
*.iml

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Tests
# -----------------------------
.coverage